<!DOCTYPE html>
<html>
<head>
  <title>Cities</title>
</head>
<body>
  <h1>Cities</h1>
  <ul>
    <% cities.forEach((city) => { %>
      <li>
        <a href="/weather/<%= city.name %>"><%= city.name %></a>
      </li>
    <% }); %>
  </ul>
</body>
</html>