<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
</head>
<body>
  <h1>Weather in <%= city.name %></h1>
  <p><%= weatherDescription %></p>
  <img src="<%= weatherIcon %>" alt="Weather icon">
  <img src="https://source.unsplash.com/400x200/?<%= city.name %>" alt="City image">
</body>
</html>